#entete
{ 
	height: 6%; 
	background: #ff9900;
	position: fixed;
	width: 100%;
	top: 0;
}

#piedpage
{
	height: 6%; 
	background: #ff9900;
	position: fixed;
	bottom: 0;
	width:100%;
	
}

#piedpage h4
{
	display: block;
}

#lien:hover
{
	color: blue;
}

body, html
{
	padding: 0;
	height: 100%;
	width: 100%;
}

body
{
	min-width: 450px;
}

h1
{
	font-size: 35px;
	border: 2px solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 7%;
	box-shadow: 8px 8px 3px #888888;
	font-family: sans-serif;
	background-color: #FEA347;
	text-align: center;
}

h2
{
	font-size: 24px;
	border: 1px solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 28px;
	margin-bottom: 4%;
	box-shadow: 6px 6px 2px #888888;
	font-family: sans-serif;
	background-color: #FEA347;
	text-align: center;
}

h3
{
	font-size: 15px;
	border: 1px solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	margin-bottom: 4%;
	box-shadow: 4px 4px 1px #888888;
	font-family: sans-serif;
	background-color: #FFCB60;
	padding-left: 50px;
}

h4
{
	font-size: 12px;
	font-family: sans-serif;
	color: #356;
}

article form
{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	margin-bottom:1%;
	box-shadow: 2px 2px 1px #888888;
	border: 1px solid;
}

article label
{
	width: 200px;
	display: block;
	float: left;	
}

article button
{
	width: 150px;
	margin-left: 220px;
	margin-top: 10px;
}

#entete form
{
	display: block;
	float: right;
}

#entete h4
{
	display: block;
	float: right;
	margin-right: 10px;
	margin-top: -1px;
}

#login p 
{
	margin-top: -20px;
}

*
{
	margin: 0;
	padding: 0;
}

ul#menu li 
{ 
	display: inline;
	padding: 0 0.5em;
}

ul#menu 
{
	list-style-type: none;
}

#menu
{
	margin-left: 15%;
	margin-top: -40px;
}

p label
{
	margin-left: 20px;
}

#menu a:link, #menu a:visited 
{
   float: left;
   font-size: 20px;
   line-height: 14px;
   font-weight: bold;
   margin: 10px 10px 4px 10px;
   text-decoration: none;
   color: black;
}

#menu a:hover
{
	color: #ff9900;
	background-color: black;
	font-size: 22px;
	padding-top: 21px;
	margin-top: -10px;
}

#item1:hover, #item2:hover, #item3:hover, #item4:hover, #item5:hover
{
	border-bottom: 4px solid;
	border-color: #ff9900;
	color: #ff9900;
	padding-bottom: 10px;
}

#img1
{
	width: 60px;
	height: auto;
}

#img2
{
	max-width: 100%;
	z-index: 2;
	width: 180px;
	height: auto;
	position: fixed;
	list-style-type: none;
	float: left;
	top: 92%;
	left: 86%;
}

article
{
	
}

.imgalign
{
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}

h3 li
{
	margin-left: 15px;
}
h3 p 
{
	margin-left: 5px;
}

nav
{
	margin: 0;
}

.para
{
	background-color: white;
	font-size: 15px;
	border: 1px solid;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 30px;
	margin-bottom: 4%;
	box-shadow: 4px 4px 1px #888888;
	font-family: sans-serif;
	padding-left: 50px;
	padding-bottom: 35px;
}

.para h3
{
	margin-left: 5%;
	margin-right: 5%;
}

