body
{
	background-image: url("../Img/fond.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	min-width: 450px;
}

h1
{
	font-size: 45px;
	border: 3px solid;
	border-radius: 5px;
	width: 90%;
	background-color: black;
	margin-left : auto;
	margin-right: 0;
	margin-top : 40px;
}

h2
{
	font-size: 37px;
	border: 2px solid;
	border-radius: 5px;
	width: 90%;
	background-color: black;
	margin-left : auto;
	margin-right: 0;
	margin-top : 40px;
}